# LIST[]

 ## List is sequence : <br> 
 Collection of thing which are ordered and you can pick one by one and work upon things.

In [6]:
l = []

In [2]:
type(l)

list

In [3]:
l1 = list()

In [4]:
type(l1)

list

In [5]:
print(l1)

[]

In [7]:
l2 = [1,2,3,4]

In [8]:
type(l2)

list

In [9]:
l2[2]

3

In [10]:
print(l2)

[1, 2, 3, 4]

## List Property:
1. iterable
2. ordered -> indexing, slices
3. heterogenous
4. mutable
5. dynamic

In [1]:
l4 = [1,2,3, True, [5,6,7]]

In [2]:
type(l4[4])

list

In [3]:
l4.append(123)

In [4]:
l4

[1, 2, 3, True, [5, 6, 7], 123]

## Methods and Functions:

Function:
1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. any()
7. all()
8. list()

Methods:

1. append()
2. extend()
3. insert()
4. index()
5. count()
6. remove()
7. pop()
8. clear()
9. reverse()
10. sort()
11. copy()

### membership

In [6]:
l3 = [5, 2.5, True, 'python', (3+5j)]

In [7]:
5 in l3

True

In [8]:
if (5 in l3):
    print("found")

found

In [9]:
len(l3)

5

In [11]:
l1 = [1,2,3,4,5]
max(l1)

5

In [12]:
sum(l1)

15

In [13]:
min(l1)

1

In [15]:
sorted(l1)

[1, 2, 3, 4, 5]

In [20]:
any(l1)
# goes to each and every elem of list and if any of them is True, then it is true

True

In [21]:
all(l3)
#  goes to each and every elem of list and true if only if all the element is true

True

In [23]:
list("uu")

['u', 'u']

In [25]:
list("555")

['5', '5', '5']

### Methods

In [26]:
l1 = [1,2,3]

In [27]:
l1.append(4)

In [28]:
l1

[1, 2, 3, 4]

In [30]:
# extend ===> l2 = l2+ list(iterable)
l2 = [1,2,3]
l2.extend([4,5])
l2

[1, 2, 3, 4, 5]

In [31]:
l2.append([4,5])

In [32]:
l2

[1, 2, 3, 4, 5, [4, 5]]

In [33]:
l2.append('python')

In [34]:
l2

[1, 2, 3, 4, 5, [4, 5], 'python']

In [35]:
l2.extend('python')

In [36]:
l2

[1, 2, 3, 4, 5, [4, 5], 'python', 'p', 'y', 't', 'h', 'o', 'n']

In [37]:
#insert
l3 = [1,2,4]

In [38]:
l3.append(3)

In [39]:
l3

[1, 2, 4, 3]

In [40]:
l3.insert(2,3)

In [41]:
l3

[1, 2, 3, 4, 3]

In [42]:
l3.insert(0,0)

In [43]:
l3

[0, 1, 2, 3, 4, 3]

In [45]:
# index

l3.index(3, 4)

5

In [46]:
l3.index(3)

3

In [47]:
# count()
l3.count(3)

2

In [48]:
l3.count(10)

0

In [49]:
# remove()
l3.remove(3)

In [50]:
l3

[0, 1, 2, 4, 3]

In [51]:
# pop()
l3.pop()

3

In [52]:
l3

[0, 1, 2, 4]

In [53]:
# clear()
l3.clear()

In [54]:
l3

[]

In [55]:
del l3

In [57]:
l4= [1,2,3,4]
l4.reverse()
l4

[4, 3, 2, 1]

In [58]:
# sort()
l4.sort()

In [59]:
l4

[1, 2, 3, 4]

In [60]:
# copy()
l8 = [ i for i in range(1, 10)]
l8

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
l9 = l8.copy()

In [62]:
id(l9), id(l8)

(4447937408, 4447938048)

## List comprehension
shorter syntax for create a list based on values from other list

In [63]:
l2 = [1,2,'mayank']

In [64]:
# wat to create a list of first 10 natural numbers

In [65]:
listAns= []
for i in range(1, 11):
    listAns.append(i)

In [66]:
listAns

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
l1 = [i for i in range(1,21) if i%2 == 0]
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [71]:
s = "mayank"

In [72]:
l1 = [i for i in s if i in 'aeiou']
l1

['a', 'a']

In [73]:
from math import sqrt

In [74]:
[ sqrt(i) for i in range(1, 20)]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674]

In [83]:
nested20list = [[ i+ j for j in range(1,3)] for i in range(1,5)]

In [84]:
nested20list

[[2, 3], [3, 4], [4, 5], [5, 6]]

In [85]:
allids = ['c123','s123','s12','c12','c345','s1234']

In [86]:
[i for i in allids if 's' in i]

['s123', 's12', 's1234']

# Tuple ()
it is a list with few extra property
## similarities with list:
1. ordered
2. iterable/sequence
3. heterogeneous
4. allows duplicates
## differences with list:
1. unchangeable
2. immutable

tuple stores the reference to the objects in it.

In [87]:
1,2,3

(1, 2, 3)

In [88]:
c = ('python', 1, 9)

In [94]:
t1 = tuple((3,4))

In [95]:
t1

(3, 4)

In [96]:
t2 = (4)

In [97]:
type(t2)

int

In [98]:
type(t1)

tuple

In [99]:
t2 = (4,)

In [100]:
t2

(4,)

In [101]:
type(t2)

tuple

In [103]:
t1 = t1 + t2

In [104]:
t1

(3, 4, 4)

In [105]:
t4 = (1,2,3,[1,2,3])

In [106]:
for i in t4:
    print(id(i))

4307840104
4307840136
4307840168
4447961152

In [107]:
t4[3]

[1, 2, 3]

In [108]:
t4[3].append(4)

In [109]:
t4

(1, 2, 3, [1, 2, 3, 4])

In [110]:
t5 = ((1,2,3),(3,4,5))

In [111]:
t5[0]

(1, 2, 3)

In [112]:
t6 = t5,t5

In [113]:
t6

(((1, 2, 3), (3, 4, 5)), ((1, 2, 3), (3, 4, 5)))

## Funciton on tuple
1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. any()
7. all()
8. tuple

In [114]:
t1

(3, 4, 4)

In [115]:
len(t1)

3

In [116]:
max(t1)

4

In [117]:
min(t1)

3

In [118]:
sum(t1)

11

In [119]:
any(t1)

True

In [120]:
all(t1)

True

In [121]:
sorted((3,4,5,1,-5))

[-5, 1, 3, 4, 5]

In [122]:
sorted((3,4,5,1,-5), reverse=True)

[5, 4, 3, 1, -5]

## methods 
1. count
2. index

In [123]:
t1

(3, 4, 4)

In [125]:
t1.count(4)

2

In [126]:
t1.index(4)

1

## Tuple Comprehension

In [127]:
( i for i in range(1,4))

In [128]:
*( i for i in range(1,4)),

(1, 2, 3)

# Set  {}
multiple items under same name

1. heterogenous
2. unordered
3. unindexed
4. they do not allow duplicates

In [130]:
s1 = {1,2,3,4,5,6}

In [131]:
s1

{1, 2, 3, 4, 5, 6}

In [132]:
for i in s1:
    print(i)

1
2
3
4
5
6

## set is iterable but not ordered

In [135]:
len(s1)

6

In [136]:
s3 = {1,2,3,4,5,True}
s3

{1, 2, 3, 4, 5}

## functions()
1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. any()
7. all()
8. set()

In [150]:
s1 = {1,2,3,4,5}

In [138]:
len(s1)

5

In [139]:
max(s1),min(s1)

(5, 1)

In [140]:
sum(s1)

15

In [141]:
any(s1)

True

In [142]:
all(s1)

True

## Methods

1. add()
2. clear()
3. copy()
4. pop()
5. removed()
6. difference()
7. update()

In [143]:
s1

{1, 2, 3, 4, 5}

In [144]:
s1.add(1)

In [145]:
s1

{1, 2, 3, 4, 5}

In [146]:
s1.add(6)

In [147]:
s1

{1, 2, 3, 4, 5, 6}

In [148]:
# clear
s1.clear()

In [149]:
s1

set()

In [151]:
s3 = s1

In [152]:
s1

{1, 2, 3, 4, 5}

In [153]:
s3

{1, 2, 3, 4, 5}

In [154]:
## copy()
s4 = s1.copy()

In [155]:
s1,s4

({1, 2, 3, 4, 5}, {1, 2, 3, 4, 5})

In [156]:
s1.add(8)

In [157]:
s1,s4

({1, 2, 3, 4, 5, 8}, {1, 2, 3, 4, 5})

In [158]:
s1.pop()

1

In [160]:
s1.remove(2)

In [161]:
s1

{3, 4, 5, 8}

In [162]:
s4

{1, 2, 3, 4, 5}

In [163]:
s1.update(s4)

In [164]:
s1

{1, 2, 3, 4, 5, 8}

In [165]:
s1.difference(s4)

{8}

In [166]:
s1-s4

{8}

# String

collection of 0 or more character

In [1]:
str1 = 'a'
str2 = 'abc'
str3 = ''
type(str1), type(str2), type(str3)

(str, str, str)

In [2]:
str4 =''' hi
Ayush
'''

In [3]:
print(str4)

 hi
Ayush

In [4]:
'' in str2

True

In [11]:
'a' in str2

True

In [12]:
"" in str1

True

## Comparision

In [13]:
'a' > 'A'

True

In [14]:
ord('a')

97

In [15]:
ord('A')

65

In [16]:
'a'>'Az'

True

## Function on Strings

In [18]:
str1

'a'

In [19]:
len(str1)

1

In [20]:
ord('a')

97

In [21]:
chr(97)

'a'

In [22]:
max(str2)

'c'

In [23]:
min(str2)

'a'

In [24]:
min('abC')

'C'

In [25]:
ord('C')

67

In [26]:
def lengthOfString(stringInput):
    ans = 0
    for i in stringInput:
        ans+=1
    return ans

In [27]:
lengthOfString('abc')

3

## Method of String

In [29]:
# capitalize
str2

'abc'

In [31]:
str2.capitalize()

'Abc'

In [32]:
"my name is python".capitalize()

'My name is python'

In [39]:
#split
a = input()

In [40]:
a

'1,2,3'

In [41]:
a.split(',')

['1', '2', '3']

In [43]:
for word in "My name is python".split(' '):
    print(word.capitalize(), end=" ")

My Name Is Python

In [46]:
str3.split(' ')

['']

In [47]:
mystr = "my naem is python"

In [48]:
mystr.lower()

'my naem is python'

In [49]:
mystr.upper()

'MY NAEM IS PYTHON'

In [50]:
mystr.title()

'My Naem Is Python'

In [51]:
'a'.islower()

True

In [52]:
# 'a' - 'z' ===> alphabets and lowercase
# 'A' - "z" ===> alphabets and uppercase
# '1' - '2' ===> numeric

In [53]:
"My Name".istitle()

True

In [54]:
"999".isdigit()

True

In [55]:
# startswith & endswith
mystr

'my naem is python'

In [57]:
mystr.startswith("my naem")

True

In [59]:
mystr.endswith("thon")

True

In [60]:
mystr.count("y")

2

In [61]:
mystr.count("is")

1

In [62]:
# join

In [63]:
str1

'a'

In [64]:
str2

'abc'

In [66]:
'.'.join(["ab","pq",'rs'])

'ab.pq.rs'

In [67]:
str1.join(str2)

'aabac'

In [68]:
"@@".join(str2)

'a@@b@@c'

In [69]:
# f -string
a = 10
b = 20

In [72]:
print(f"the value of a is {a} and b is {b}.")

the value of a is 10 and b is 20.

# Dictionary
[1,2,3,4]
 0 1 2 3  <--- 2^nd Index

key: value pair

{key1: value1}

Syntax-
<br>
'''
{
    key1: value1,
    key2 : value2,
    key3 : value3
}
'''
<br>
1. ordered 
2. changeable
3. duplicates are not allowed

In [1]:
d1 = {}

In [2]:
type(d1)

dict

In [3]:
d1 = {'one': 1}

In [4]:
d1['one']

1

In [5]:
d1['one']

1

In [6]:
d2 = {'one': 5, 'one': 6}

In [7]:
d2

{'one': 6}

In [8]:
d2[1] = 4

In [9]:
d2

{'one': 6, 1: 4}

In [10]:
d3 = {'one': {'one': 0}}

In [11]:
type(d3['one'])

dict

## Looping in dictionary

In [12]:
d1 = {
    2: 'two',
    3: "three",
    1: "one",
    1000: "one thousand"
}

In [13]:
d1

{2: 'two', 3: 'three', 1: 'one', 1000: 'one thousand'}

In [14]:
for i in d1:
    print(i)

2
3
1
1000

In [15]:
for i in d1:
    print(d1[i])

two
three
one
one thousand

In [16]:
d1.keys()

dict_keys([2, 3, 1, 1000])

In [17]:
d1.values()

dict_values(['two', 'three', 'one', 'one thousand'])

In [18]:
d1.items()

dict_items([(2, 'two'), (3, 'three'), (1, 'one'), (1000, 'one thousand')])

In [19]:
for key in d1.keys():
    print(key)

2
3
1
1000

In [21]:
for values in d1.values():
    print(values)

two
three
one
one thousand

In [24]:
for item in d1.items():
    print(item)

(2, 'two')
(3, 'three')
(1, 'one')
(1000, 'one thousand')

In [26]:
for key, value in d1.items():
    print(f'{key} : {value}')

2 : two
3 : three
1 : one
1000 : one thousand

In [29]:
d1[1] = 'ONE'

In [30]:
d1

{2: 'two', 3: 'three', 1: 'ONE', 1000: 'one thousand'}

In [32]:
d1.update({1: "oneUpdated"})

In [33]:
d1

{2: 'two', 3: 'three', 1: 'oneUpdated', 1000: 'one thousand'}

In [34]:
d1[50] = "123"

In [35]:
d1

{2: 'two', 3: 'three', 1: 'oneUpdated', 1000: 'one thousand', 50: '123'}

In [36]:
d1.get(500)

In [37]:
d1.get(50)

'123'

# Methods in Dictionary
1. clear()
2. copy()
3. get()
4. keys()
5. values()
6. items()
7. update()
8. pop()
9. popitem()

In [40]:
# clear
d2 = d1.copy()
d3 = d1

In [41]:
d1,d2,d3

({2: 'two', 3: 'three', 1: 'oneUpdated', 1000: 'one thousand', 50: '123'},
 {2: 'two', 3: 'three', 1: 'oneUpdated', 1000: 'one thousand', 50: '123'},
 {2: 'two', 3: 'three', 1: 'oneUpdated', 1000: 'one thousand', 50: '123'})

In [42]:
d1.clear()

In [43]:
d1,d2,d3

({},
 {2: 'two', 3: 'three', 1: 'oneUpdated', 1000: 'one thousand', 50: '123'},
 {})

In [45]:
d2.pop(2)

'two'

In [47]:
d2.popitem()

(50, '123')

In [48]:
d2

{3: 'three', 1: 'oneUpdated', 1000: 'one thousand'}

In [49]:
d2.popitem()

(1000, 'one thousand')

In [50]:
d2

{3: 'three', 1: 'oneUpdated'}